html, body {
  margin: 0;
  padding: 0;
  --main-bg-color: #F9F8F8;
  --primary-color: #F78E69;
  --secondary-color: #011627;
  font-family: "Montserrat", sans-serif;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-color: #F9F8F8;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
